/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Laravel Mix
/public/css/app.css
/public/js/app.js
/public/js/app.js.LICENSE.txt
/public/mix-manifest.json

# local notes or temporary file for developer.
/__memo.md
