# See: https://phpstan.org/config-reference
includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 8 is the highest level
    # See: https://phpstan.org/user-guide/rule-levels
    level: 5

    ignoreErrors:
        - '#Method .* should return Illuminate\\Http\\Response but returns Illuminate\\View\\View.#'

    excludes_analyse:
        #- ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
